* {

	box-sizing: border-box;
}

body {


	margin: 0 auto;
	background-color: white;
}

.wrapper {

	max-width: 768px;
	min-width: 320px;

}

form {
	border-top: 2px solid black;


}

h1 {
	color: white;
	background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
	text-transform: uppercase;
	margin-top: 0;
	padding: 25px 0;
	text-align: center;
	font-family: 'Alata', sans-serif;
	

}

h2 {

	text-align: center;
}

.p1 {
	text-align: center;
	border-bottom: 5px solid black;
	padding-bottom: 10vh;
}



legend {
	padding: 30px 0;
	font-size: 22px;
	font-weight: 700;
	font-family: 'Jomolhari', serif;
}

/********general section******/
/********general section******/
/********general section******/
/********general section******/


.user-info,
.user-contact {
	display: flex;
	flex-direction: column;

}

.user-info label {
	margin-bottom: 12px;
	font-family: 'Baskervville', serif;
	font-size: 20px;
	font-weight: 600;
}

.user-info:last-child {
	border-bottom: 2px solid black;
}

::placeholder {
	text-align: right;
}

#zip {
	width: 50%;

}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
	border-radius: 6px;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #ccffe6;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
	margin-bottom: 30px;
	border: white;
}

/*********animation section***********/
/*********animation section***********/
/*********animation section***********/
/*********animation section***********/
/*********animation section***********/

input[type="text"]:focus {
	background: white;
	transform: scale(1.2);
	color: black;
}

input[type="tel"]:focus {
	background: white;
	transform: scale(1.2);
	color: black;

}

input[type="email"]:focus {

	background: white;
	transform: scale(1.2);
	color: black;

}

select:focus {
	transform: scale(1.2);
	background-color: white;
	color: black;
}

textarea:focus {
	transform: scale(1.1);
	background-color: white;
	color: black;
	border: 2px solid black;
}


fieldset {
	border: none;
}

input[type="radio"],
input[type="checkbox"] {
	display: inline-block;

}

input:checked + label {
	color: cornflowerblue;
	font-weight: 600;
	font-family: 'Neucha', cursive;
	text-transform: uppercase;
	;
}


input[type="button"] {

	background-color: forestgreen;
	width: 100%;
	border-radius: 6px;
	font-size: 30px;
	color: white;
	transition: all 1s;

}

input[type="button"]:hover {

	background-color: whitesmoke;
	color: forestgreen;
	transform: scale(1.1);
}

/******media queries*****/

@media (min-width: 768px) {
	.user-contact .user-info {
		flex-direction: row;
	}

	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="tel"],
	input[type="field"],
	input[type="url"],
	textarea,
	select {
		flex-grow: 1;
		flex-basis: 75%;
	}

	.user-info label {
		flex-basis: 25%;
		margin: auto 0;
		height: 50px;
	}

	#zip {
		max-width: 25%;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 70%;
		margin: 0 auto;
	}
}
